/*Base styling*/
*{
  margin: 0;
  padding: 0;
}

.bold {
  font-weight: 900;
}

ul {
  list-style-position: inside;
}

hr {
  border: 0;
  background: var(--secondary-color);
  height: 2px;
}

:root {
  --primary-color: rgb(30, 123, 133);
  --secondary-color: rgb(216, 215, 215);
}

/* Header styles */
header {
  color: white;
  grid-area: header;
  height: 250px;
  background-color: var(--primary-color);
  
}

header .content {
  border: 1px solid #fff;
  width: 30%;
  height: 60%;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;

}

/* End of header styles */

body {

  margin: 0 10%;
  display: grid;
  grid-template-areas: 'header header header'
                       'aside main main';
  grid-gap: 20px;
  margin-bottom: 50px;
}

aside {
  grid-area: aside;
}

main {
  grid-area: main;
}


section:first-child h2 {
  margin-top: 0;
}




